.form {
  padding: 1rem;
  max-width: 50rem;
}

.prices {
  display: flex;
  flex-direction: row;
}

.form :global {
  .bx--form-item {
    margin-bottom: 2rem;

    > * {
      width: 100%;
    }
  }
  .bx--fieldset > .bx--form-item {
    margin-bottom: initial;
  }
}
