{
  "root": false,
  "extends": ["react-app", "plugin:jsx-a11y/recommended"],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "plugins": ["jsx-a11y"],
  "rules": {
    "react-hooks/exhaustive-deps": ["error"],
    "jsx-a11y/anchor-is-valid": "off",
    "@typescript-eslint/no-unused-vars": "error"
  }
}
