.heading {
  font-size: 2.5rem;
  padding: 1rem 0;
  margin: 0 3.5rem 1rem;
}

.deleteButton {
  width: 100%;
  margin: 0 3.5rem;
}

.errorMessage {
  display: inline-block;
  font-size: 3.5rem;
  color: #e74c3c;
  padding: 0 3.5rem;
  max-width: 50rem;
}
