.cart-item-close-btn {
  @apply absolute;
  top: 0.5rem;
  right: 0;
}

/* hack to remove arrows from inputs with type=number */
.cart input[type='number']::-webkit-inner-spin-button,
.cart input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.visually-hidden {
  @apply overflow-hidden absolute whitespace-no-wrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}
