@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.worksans {
  font-family: 'Work Sans', sans-serif;
}

.hover\:grow {
  transition: all 0.3s;
  transform: scale(1);
}

.hover\:grow:hover {
  transform: scale(1.02);
}

.hero {
  width: 100vw;
  height: 50vh;
  background-image: url('https://picsum.photos/id/21/1600/1600?grayscale');
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
