@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
@import './components/hero.css';
@import './components/cart.css';
@import './components/stripe.css';

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@import './utils/utils.css';

body.react-query-is-loading * {
  cursor: wait;
}

.visually-hidden {
  @apply overflow-hidden absolute whitespace-no-wrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}
