.githubWrapper {
  display: inline-block;
  width: 100%;
}

.form {
  padding: 1rem;
  max-width: 50rem;
}

.form :global {
  .bx--form-item {
    margin-bottom: 2rem;

    > * {
      width: 100%;
    }
  }
  .bx--fieldset > .bx--form-item {
    margin-bottom: initial;
  }
}

.loginButtonWrapper {
  display: flex;
  color: red;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.toast {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 30rem;
  margin-bottom: 0.5rem;
}
