.form {
  padding: 1rem;
  max-width: 50rem;
}

.form :global {
  .bx--form-item {
    margin-bottom: 2rem;

    > * {
      width: 100%;
    }
  }
  .bx--fieldset > .bx--form-item {
    margin-bottom: initial;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.toast {
  position: absolute;
  top: 0;
  right: 0;
}
